.container-login{
  border: 2px solid blue;
  max-width: 450px;
  width: 90%;
  background-color: rgba(0,0,0,0.4);
  border-radius: 20px;
  box-shadow: 4px 4px 8px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

.alert{
  max-width: 450px;
}


